@page "/"
@using Portfolio.Ui.Components.Pages.IndexPageSections

<Hero />

<main id="main">
    <!-- ======= todo: Replace these Services texts ======= -->
    <Services />
    <About />
    <Resume />
    <Contact />
    
</main>