@page "/Resume"

<section id="resume" class="resume section-bg">
    <div class="container">

        <div class="section-title">
            <h2>Resume</h2>
            <p>
                I'm a dedicated engineer committed to writing clean and efficient systems while always being mindful of deadlines. <br/><br/>
                I take pride in mentoring junior colleagues, guiding them patiently and deriving satisfaction from watching them grow into proficient engineers. <br/><br/>
                My enthusiasm for learning never wanes; delving into new systems excites me, and I continuously seek innovative methods to refine my development process.<br/>
                
                You can <a href="https://drive.google.com/drive/folders/1iBSn56NqtXe1OL55fs3-oqy53_Xf9veH?usp=sharing" target="_blank" style="font-weight: bold;">download my resume here!</a>
            </p>
        </div>
        
        <!-- First Column -->
        <div class="row">
            <div class="col-lg-6" data-aos="fade-up">
                <h3 class="resume-title">Professional Experience</h3>
                <div class="resume-item">
                    <h4>Back End Developer</h4>
                    <h5>2023 - 2024</h5>
                    <p><em>United Payment & Moka, Istanbul, Turkey </em></p>
                    <ul>
                        <li>Handling bugs and adding new features to the virtual payment system.</li>
                    </ul>
                </div>
                
                <div class="resume-item">
                    <h4>Back End Developer</h4>
                    <h5>2019 - 2023</h5>
                    <p><em>Social Lift, Istanbul, Turkey </em></p>
                    <ul>
                        <li>In an accumulation of 12 years of code, at a system needs continuous availability, supporting 3 different social app brands
                            at 5 platforms simultaneously.</li>
                        <li>Handled implementing most of the new tech and Rnd.</li>
                        <li>Delivered solid code on time.</li>
                    </ul>
                </div>
                
                <div class="resume-item">
                    <h4>Call Center Specialist</h4>
                    <h5>2018</h5>
                    <p><em>Denizbank, Istanbul, Turkey</em></p>
                    <ul>
                        <li>English banking support to high end customers.</li>
                    </ul>
                </div>
                
                <div class="resume-item">
                    <h4>Event Organizer</h4>
                    <h5>2016 - 2017</h5>
                    <p><em>Freelance, Istanbul, Turkey</em></p>
                    <ul>
                        <li>Event organizing, supervising human resources, IT support.</li>
                    </ul>
                </div>
                
                <div class="resume-item">
                    <h4>Tourist Guide</h4>
                    <h5>2016</h5>
                    <p><em>Bicycle Istanbul, Istanbul, Turkey</em></p>
                    <ul>
                        <li>
                            Best job I had. Historical Istanbul tours on bicycle. <br/>
                            The company was shut down because of bombings and the 2016 military coup.
                        </li>
                    </ul>
                </div>
            </div>
            
            <!-- Second Column -->
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

                <h3 class="resume-title">Education</h3>
                
                <div class="resume-item">
                    <h4>CS50's Introduction to Computer Science</h4>
                    <p><em>Edx - Harvard</em></p>
                    <h5>2021</h5>
                </div>
                
                <div class="resume-item">
                    <h4>Docker A to Z</h4>
                    <p><em>Udemy</em></p>
                    <h5>2021</h5>
                </div>
                
                <div class="resume-item">
                    <h4>Test Driven Development With C#</h4>
                    <p><em>Pluralsight - 7 courses</em></p>
                    <h5>2020</h5>
                </div>

                <div class="resume-item">
                    <h4>Istanbul University</h4>
                    <h5>2013 - 2018</h5>
                    <p><em>Business Administration and Management</em></p>
                </div>

                <div class="resume-item">
                    <h4>CSD C and System Programmers Foundation <br/>(C ve Sistem Programcıları Derneği)</h4>
                    <h5>2017</h5>
                    <p><em>C Programming Language</em></p>
                </div>

                <div class="resume-item">
                    <h4>Dr Nurettin Erk Perihan Erk Industry High School</h4>
                    <h5>2007 - 2011</h5>
                    <p><em>Web designing & Programming</em></p>
                </div>
                
            </div>
        </div>

    </div>
</section>